.about-container {
  margin-top: 50px;
}

.about-container p {
  font-family: 'Oswald', sans-serif;
  font-size: calc(6px + 2vmin);
}

.about-copy {
  width: 35vw;
  padding-top: 10%;
  padding-left: 40px;
  padding-right: 20px;
}
