.App {
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.App-logo {
  height: 40vmin;
}

.App-link {
  margin-right: 10px;
  color: #222;
  text-decoration: none;
  font-family: 'Bebas Neue', cursive;
  font-size: calc(24px + 2vmin);
}

.App-link:hover {
  color: #6c757d;
  text-decoration: none;
}

.Portfolio {
  /* margin-left: 20px;
  margin-right: 20px; */
}

.Portfolio img {
  margin: 5px;
}
