.portfolio-image-full {
  max-width: 95%;
  margin: 0 auto;
}

.img-caption {
  margin-top: 20px;
  margin-bottom: 60px;
  color: #222;
  font-family: 'Caveat', cursive;
  font-size: calc(12px + 2vmin);
}
